APP_HOST=0.0.0.0
APP_PORT=8000

SECRET_KEY=chadwick-dev-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

DATABASE_URL=sqlite+aiosqlite:///./chadwick.db

ROBOT_MODE=real
ROBOT_IFACE=eno3
ROBOT_DOMAIN_ID=0
ROBOT_PYTHON_BIN=python3
ROBOT_SDK_PYTHONPATH=/home/capstone-cs47-3/unitree_sdk2_python
ROBOT_AUDIO_WAV=

FRONTEND_URL=http://localhost:5173

CAMERA_MODE=unitree_sdk
CAMERA_STREAM_URL=
CAMERA_LABEL=HEAD_CAM_01
CAMERA_RESOLUTION=1280x720
CAMERA_FPS=2
CAMERA_INTERFACE=eno3
CAMERA_PYTHON_BIN=
CAMERA_PYTHONPATH=/home/capstone-cs47-3/unitree_sdk2_python
CAMERA_SDK_CLIENT_IMPORT=unitree_sdk2py.go2.video.video_client:VideoClient
CAMERA_COMMAND_TIMEOUT=8
